body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

div.tab-content .row {
    border: 1px solid lightgray;
}

input[type=text] {
    outline: none;
    border: none;
    width: 100%;
}

h6 {
    float: right;
}

img {
    width:100%;
}


#home {
    background: white;
}

#nav-pills {
    background: white;
}

#spacer {
    background: white;
}

#subtitle {
    float: left;
}
